.service-box{
    border: black 8px solid;
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    flex-wrap:wrap;
}


.service-box li{
    /* border: red 5px solid; */
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    transition:0.15s;
    width:50%;
    padding:5%;
    padding-top:3%;
    text-align: center;
    /* flex-wrap:wrap;s */
}



.service-box li:hover .service-box2{
    /* flex-grow: 5; */
    display:none;
  }
  

  .service-pFonts{
    font-size:18.5px;
    font-weight: 400;
    margin-top: 10%;
  }

  .service-image1{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../../assets/images/service7.jpg);
    
    background-size: 100% 100%;
    min-height: 50%;
    /* border: 4px solid black; */
    border-radius: 10px;
    margin-top:5%;
    margin-bottom:3%;
  }

  .service-image2{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../../assets/images/service6.jpg);
    
    background-size: 100% 100%;
    min-height: 50%;
    /* border: 4px solid black; */
    border-radius: 10px;
    margin-top:5%;
    margin-bottom:3%;
  }

  .service-button{
      margin-top:5%;
  }

  .service-MaxView{
      display:none;
  }

/* .service-box1{
    border: red 5px solid;
}

.service-box2{
    border: blue 5px solid;
} */

@media (max-width: 768px) {

    .service-box{
        /* border: black 8px solid; */
        display:grid;
        justify-content: center;
        height: 220vh;
        /* flex-wrap:wrap; */
    }

    .service-box li{
        width:100%;
        padding:5%;
        padding-top:3%;
    }
    
}