.aboutus-header{
  margin-bottom: 2rem;
}

.aboutus-info{
  text-align: center;
  margin-left: 9rem;
  margin-right: 9rem;
  
}

.aboutus-info span{
  color: green;
  font-weight: bold;
}

.aboutus-features{
  margin-left: 1rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutus-features1{
  margin-left: 4rem;
  flex: 1;
}

.aboutus-features2{
  margin-left: 4rem;
   flex: 1;
}

.aboutus-features3{
  margin-left: 4rem;
   flex: 1;
}

.features-css p{
  margin-top: 2rem;
}

.aboutpage-css{
  margin-top: 7rem;
  text-align: center;
}

.aboutpage-css p{
  margin-top: 2rem;
  margin-left:9rem ;
  margin-right: 9rem;
  
}

.aboutuspage-column{
  
  margin-left: 5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutuspage-row{
  list-style-type: circle;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutuspage-row1{
  flex: 1;
}

.aboutuspage-row2{
  flex: 1;
}

.aboutuspage-row3{
   flex: 1;
}

.aboutuspage-row4{
  flex: 1;
}
