
.features {
    width: 100%;
    /* margin-top: -1rem; */
    /* z-index: 3; */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  }
  
  .features ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    font-family: system-ui;
    color:#1d3557;
    border-bottom: #1d3557 5px solid;
    height:80vh;
    /* justify-content: space-around; */
  
  }
  
  .features li{
    padding: 1.5rem 0;
    text-align: center;
    display: block;
    /* border: solid 5px #1d3557; */
    border-radius: 5px;
    white-space: break-spaces;
    width:10%;
    /* padding:10% */
    padding-left: 6%;
    padding-right: 6%;
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    cursor:context-menu;
    flex-grow: 1;
    transition:0.15s;
  }
  
  .features li:hover{
    flex-grow: 5;
    padding-left: 7%;
    padding-right: 7%;
  }
  
  .features li:hover .feature-icons{
    font-size: 90px;
  }
  
  .features li:hover .feature-h1Fonts{
    font-weight: 600;
    font-size: 50px;
  }
  
  .features li:hover .feature-pFonts{
    font-size:21px;
    font-weight: 400;
  }
  
  .feature-icons{
    font-size: 70px;
    text-align: center;
  }
  
  .feature-h1Fonts{
    font-weight: 600;
    font-size: 40px;
  }
  
  .feature-pFonts{
    font-size:18.5px;
    font-weight: 300;
  }
  
  .feature-box1{
    background-color: #e4f1ee;
  }
  
  .feature-box2{
    background-color: #f2f8f7;
  }
  
  .feature-box3{
    background-color: #c9e3de;
  }
  
  .feature-box4{
    background-color: #d2d9db;
  }
  
  